<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="GaneshTest">
    <classes>
      <class name="com.Test.VerifyLoginpage_tc001"/>
    </classes>
  </test> <!-- GaneshTest -->
</suite> <!-- Suite -->
